<!-- Generated template for the RechercheComponent component -->
  <ion-searchbar
    (ionInput)="getItems($event)"
    (ionCancel)="onCancel($event)">
  </ion-searchbar>
<ion-grid *ngIf="items">
  <ion-row>
    <ion-col col-6 col-md-4 col-lg-2 *ngFor='let movie of items' >
      <ion-card class='card'  class="movie-info" (click)='goToDetail(movie)'>

        <ion-card-title #popoverText  class="card-title">
          {{movie.Title}}
        </ion-card-title>
        <img  [src]="movie.Poster !== 'N/A' ? movie.Poster : 'assets/imgs/no-poster.jpg'"/>
        <div class="card-subtitle">
          <ion-row>
            <ion-col>
              <ion-icon name="star"></ion-icon>
              <div>{{movie.imdbRating}}</div>
            </ion-col>
            <ion-col>
              <ion-icon name="calendar"></ion-icon>
              <div>{{movie.Year}}</div>
            </ion-col>
          </ion-row>
        </div>
      </ion-card>
    </ion-col>

    <ion-infinite-scroll (ionInfinite)="doInfinite($event)" *ngIf="page < totalPage">
      <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ion-row>
</ion-grid>

